<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Server=.;Initial Catalog=Z.Dapper;User ID=sa;Password=Syscom123;Connection Timeout=300;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
